{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="agency">
        <hr>
        <h2 style="text-align: center;">Welcome To Janta Provision Store, Mansa</h2>
        <hr>
        <img class="shop-image" src="{% static 'images/shop.svg' %}">
        <hr>
        <h2 style="text-align: center;">Our Agencies</h2>
        <hr>
        <div class="col-12">
            <img class="agency-image" src="{% static 'images/agency/araldite.png' %}">
            <img class="agency-image" src="{% static 'images/agency/himalaya.png' %}">
            <img class="agency-image" src="{% static 'images/agency/anand.png' %}">
            <img class="agency-image" src="{% static 'images/agency/balaji.png' %}">
            <img class="agency-image" src="{% static 'images/agency/gowardhan.png' %}">
            <img class="agency-image" src="{% static 'images/agency/rasna.png' %}">
            <img class="agency-image" src="{% static 'images/agency/hershey.png' %}">
            <img class="agency-image" src="{% static 'images/agency/indira.png' %}">
            <img class="agency-image" src="{% static 'images/agency/zoopy.png' %}">
            <img class="agency-image" src="{% static 'images/agency/jalani.png' %}">
            <img class="agency-image" src="{% static 'images/agency/pelican.png' %}">
            <img class="agency-image" src="{% static 'images/agency/kopiko.png' %}">
            <img class="agency-image" src="{% static 'images/agency/nutrela.png' %}">
            <img class="agency-image" src="{% static 'images/agency/shalimar.png' %}">
            <img class="agency-image" src="{% static 'images/agency/nissin-noodels.png' %}">
            <hr>
        </div>
    </div>
</body>
</html>

{% endblock content %}