{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="agency">
        <br>
        <h2 style="text-align: center;">Welcome To Janta Provision Store, Mansa</h2>
        <hr>
        <img class="shop-image" src="{% static 'images/shop.svg' %}">
        <hr>
        <h2 style="text-align: center;">Our Agencies</h2>
        <hr>
        <div class="col-12">
            <img class="agency-image" src="{% static 'images/agency/araldite.png' %}">
            <img class="agency-image" src="{% static 'images/agency/himalaya.png' %}">
            <img class="agency-image" src="{% static 'images/agency/anand.png' %}">
            <img class="agency-image" src="{% static 'images/agency/balaji.png' %}">
            <img class="agency-image" src="{% static 'images/agency/gowardhan.png' %}">
            <img class="agency-image" src="{% static 'images/agency/rasna.png' %}">
            <img class="agency-image" src="{% static 'images/agency/hershey.png' %}">
            <img class="agency-image" src="{% static 'images/agency/indira.png' %}">
            <img class="agency-image" src="{% static 'images/agency/zoopy.png' %}">
            <img class="agency-image" src="{% static 'images/agency/jalani.png' %}">
            <img class="agency-image" src="{% static 'images/agency/pelican.png' %}">
            <img class="agency-image" src="{% static 'images/agency/kopiko.png' %}">
            <img class="agency-image" src="{% static 'images/agency/nutrela.png' %}">
            <img class="agency-image" src="{% static 'images/agency/shalimar.png' %}">
            <img class="agency-image" src="{% static 'images/agency/nissin-noodels.png' %}">
        </div>
        <hr>
    </div>
    <br>
        

    <div class="address">
        <div class="row">
            <div class="col-12 col-lg-5">
                <h3>Contact</h3>
                <hr>
                <h5>Address:</h5>
                <p>23, Shivam Society <br>Near New Ramdevpir Temple <br>Mansa, Gujarat-382845</p>
                <h5>Phone no:</h5>
                <p>9104321634</p>
                <h5>Email:</h5>
                <p>vinitmodi108@gmail.com</p>
            </div>
            <div class="col-12 col-lg-7 google-map">
                <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3661.0599404236864!2d72.64984081449607!3d23.422201807152305!
                    2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c333ae0ade089%3A0x2e18e41ea225ea7b!2sJanta%20provision%20store!5e0!3m2!
                    1sen!2sin!4v1595442452636!5m2!1sen!2sin" width="100%" height="370" frameborder="0" style="border:0;" allowfullscreen="" 
                    aria-hidden="false" tabindex="0"></iframe>
                </p>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock content %}