{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>

    <div id="carouselExampleIndicators" class="d-lg-none carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner banner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'images/car.png' %}">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/superhero.png' %}">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/callofduty.png' %}">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>


    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="row">
        {% for product in products %} <!-- |slice:":8" -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="thumbnail" src="{{ product.imageURL }}">
            <div class="text-block">
                <p id="over-image">{{product.percentile|floatformat:1}} % off</p>
              </div>
            <div class="box-element product">
                <h6 id="product-name"><strong>{{ product.name }}</strong></h6>
                <hr>
                <h5 style="display: inline-block; float: left"><strong>₹{{ product.price|floatformat:1 }}</strong></h5>
                <h6 class="mrp-strike" style="display: inline-block; float: right"><strong>₹{{ product.mrp|floatformat:0 }}</strong></h6>
                <button data-product={{product.id}} data-action="add" class="add-cart-btn btn btn-outline-secondary btn-block update-cart">Add to Cart</button>
				<!-- <a class="btn btn-outline-success" href="#">View</a> -->
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>

{% endblock content %}